body{
 background-color: black;
margin: 25px;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 background-size: cover;
    
    
}
.btn{

background-color: rgb(1, 11, 64);
border-style: solid;
border-color: white;
border-width: 4px;
height: 65px;
width: 13%;
color:white;
font-size: 1.4vw;
font-family: sans-serif;
font-weight: bolder;
padding: 10px;
float: left;
clear: left;

}

.btn:hover{
background-color: rgb(20, 134, 247);
border-color: white;
color: white;



}
.mainbtn{
background-color: rgb(1, 11, 64);
float: right;
width: 85%;
height: 75px;
border-style: solid;
border-width: 6px;
border-color: white;
color:white;
font-weight: bolder;
font-size: 2.3vw;
letter-spacing: 2px;



}
.box{
border-style: solid;
border-color: black;



}
.pic{
height: 10.5vw;
width: 10.5vw;
float: right;
border-style: solid;
border-color: white;
border-width: 5px;
float: right;
clear: right;
margin-top: 28px;
margin-right: 5.5%;

}
.text{


padding: 20px;
color: black;
position: absolute;
display: block;
margin-top: 85px;
margin-left: 17%;
margin-right: 17%;
background-color: rgb(20, 134, 247);
border-style: solid;
border-color: black;
height: 175px;
width: 57vw;
border-style: solid;
border-color: white;
border-width: 5px;
font-size: 1.5vw;
font-family: sans-serif;
font-weight: bolder;






}
.buttononpage{

    background-color: rgb(20, 134, 247);
    border-style: solid;
    border-color: white;
    border-width: 4px;
    height: 65px;
    width: 13%;
    color:white;
    font-size: 1.4vw;
    font-family: sans-serif;
    font-weight: bolder;
    padding: 10px;
    float: left;
    clear: left;


}
.mainbox{
background-color: rgb(1, 11, 64);
height: 1000;
border-style: solid;
border-color: white;
border-width: 5px;
width: 85%;
margin: auto;
height: 3000px;
text-align: center;






}
fieldset{
background-color: rgb(20, 134, 247);
border-style: solid;
border-color: black;
border-width: 5px;
display: block;
text-align: none;
width: 55%;
margin: auto;

margin-top: 45px;




}

.nadpis{
font-size: 2.6vw;
color: white;
font-family: sans-serif;
background-color: rgb(20, 134, 247);
border-style: solid;
border-width: 5px;
border-color: black;
width: 25%;
height: 3.3vw;
padding-top: 5px;
margin: auto;
margin-top: 30px


}
.fieldnadpis{
font-size: 3vw;
font-family: sans-serif;
color: white;

}

.labeltext{
font-size: 1.3vw;
font-family: sans-serif;
color: white;





}

.label{

    font-size: 1.3vw;
font-family: sans-serif;
color: white;
text-align: right;
     
    

}
input{
    margin-left: 0px;
    padding-left: 0px;
    
}


.centertable{

margin-left: auto;
margin-right: auto;


}
.imggalerie{

width: 18vw;
margin: 40px;
border-style: solid;
border-color: black;
border-width: 5px;
filter: grayscale(100%);


}
.imggalerie:hover{
    border-color: white;
    filter: none;



}

.boxtext{

    background-color: rgb(20, 134, 247);
height: 300;
border-style: solid;
border-color: black;
border-width: 5px;
width: 65%;
margin: auto;
height: 18%;
text-align: center;



}
.hobtext{
    font-size: 30px;

    font-family: 30px;
    color: white;
    font-family: sans-serif;
    text-align: left;
    float: left;


}

iframe{
width: 200px;
height: 100px;
float: right;
margin: right;
padding: 10px;


}

.hobbox{

    background-color: rgb(20, 134, 247);
height: 300;
border-style: solid;
border-color: black;
border-width: 5px;
width: 60%;
margin: auto;
height: 15%;
text-align: center;
padding: 20px;
font-size: 30px;

    
    



}

video{

    width: 30vw;
    height: 17vw;
    
    border-style: solid;
    border-width: 5px;
    border-color: white;
}